html, body {
  padding: 0;
  margin: 0;
}



.gegevens-invullen-user,
.gegevens-invullen-user * {
  box-sizing: border-box;
}
.gegevens-invullen-user {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  
}
.gevensinvullen {
  background: url(/public/Images/GegevensInvullen.png) center center no-repeat;
  background-size: cover;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.content {
  background: #eaf1f8;
  border-radius: 18.5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: fit-content;
  height: fit-content;
  position: relative;
  overflow: hidden;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 8.88px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 74px;
  position: relative;
}
.text-and-supporting-text {
  display: flex;
  flex-direction: column;
  gap: 8.88px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo {
  padding: 0px 7.4px 0px 7.4px;
  display: flex;
  flex-direction: column;
  gap: 7.4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 279.72px;
  position: relative;
}
.logo-image {
  flex-shrink: 0;
  width: 258.26px;
  height: 74px;
  position: relative;
}
.content2 {
  background: #4453ae;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: fit-content;
  height: fit-content;
  position: relative;
}
.mainbox {
  padding: 0px 7.4px 0px 7.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  margin: 0;
}
.gebruiker {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20.720001220703125px;
  line-height: 17.76px;
  font-weight: 600;
  position: relative;
}
.gegevens-boxes {
  display: flex;
  flex-direction: row;
  gap: 7.4px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  width: fit-content;
  position: relative;
}
.leftbox {
  background: #4453ae;
  height: fit-content;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: fit-content;
  position: relative;
}

.leftboxLEFT{
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 10px;
}

.leftboxRIGHT{
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 10px;
}



.input-field {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.input-field-base {
  display: flex;
  flex-direction: column;
  gap: 4.44px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-with-label {
  display: flex;
  flex-direction: column;
  gap: 4.44px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.label {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.100000381469727px;
  line-height: 14.8px;
  font-weight: 500;
  position: relative;
}
.input {
  background: #ffffff;
  border-radius: 5.92px;
  border-style: solid;
  border-color: #d0d5dd;
  border-width: 0.74px;
  padding: 7.4px 10.36px 7.4px 10.36px;
  display: flex;
  flex-direction: row;
  gap: 5.92px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 0.74px 1.48px 0px rgba(16, 24, 40, 0.05);
  overflow: hidden;
}
.content3 {
  display: flex;
  flex-direction: row;
  gap: 5.92px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.text {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 17.76px;
  font-weight: 400;
  position: relative;
  flex: 1;
  outline: none;
  border: none;
}

.textarea-input-field {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  align-self: stretch;
  flex: 1;
  resize: none;
  border: none;
  outline: none;
}

.textarea-input-field  textarea{
  resize: none;
  border: none;
  outline: none;
}

.textarea-input-field-base {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.input-with-label2 {
  display: flex;
  flex-direction: column;
  gap: 4.44px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.label2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10.360000610351562px;
  line-height: 14.8px;
  font-weight: 500;
  position: relative;
}
.input2 {
  background: #ffffff;
  border-radius: 5.92px;
  border-style: solid;
  border-color: #d0d5dd;
  border-width: 0.74px;
  padding: 7.4px 10.36px 7.4px 10.36px;
  display: flex;
  flex-direction: row;
  gap: 5.92px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  box-shadow: 0px 0.74px 1.48px 0px rgba(16, 24, 40, 0.05);
  overflow: hidden;
}
.text3 {
  color: #667085;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11.84000015258789px;
  line-height: 17.76px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.rightbox {
  display: flex;
  flex-direction: column;
  gap: 7.4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: fit-content;
  width: 483.96px;
  position: relative;
}
.checkboxes-onderzoek-benadering {
  padding: 2.96px 0px 2.96px 0px;
  display: flex;
  flex-direction: row;
  gap: 7.4px;
  height: fit-content;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.onderzoek-checkboxes {
  padding: 12.58px 11.1px 12.58px 11.1px;
  display: flex;
  flex-direction: column;
  gap: 6.66px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.onderzoek-waar-u-aan-wilt-meedoen {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 11.84000015258789px;
  line-height: 17.76px;
  font-weight: 600;
  position: relative;
}
.interview-checkbox {
  display: flex;
  flex-direction: row;
  gap: 5.92px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.checkbox {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.checkbox-base {
  background: #f9f5ff;
  border-radius: 2.96px;
  border-style: solid;
  border-color: #7f56d9;
  border-width: 1px;
  flex-shrink: 0;
  width: 11.84px;
  height: 11.84px;
  position: relative;
  overflow: hidden;
}
.rightbox h5 {
  color: #ffffff;
  margin: 0;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10.360000610351562px;
  line-height: 14.8px;
  font-weight: 500;
  position: relative;
}

.rightbox h4{
  color: #ffffff;
  margin: 0;
}
.groepsgesprekken-checkbox {
  display: flex;
  flex-direction: row;
  gap: 5.92px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.nvt-checkbox{
  display: flex;
  gap: 5.92px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.online-onderzoek-checkbox {
  display: flex;
  flex-direction: row;
  gap: 5.92px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.engelstalig-onderzoek-checkbox {
  display: flex;
  flex-direction: row;
  gap: 5.92px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.benadering-checkboxes {
  padding: 14.06px 0px 14.06px 0px;
  display: flex;
  flex-direction: column;
  gap: 6.66px;
  height: fit-content;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex: 1;
  position: relative;
}
.voorkeur-benadering {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 11.84000015258789px;
  line-height: 14.8px;
  font-weight: 600;
  position: relative;
}
.telefonish-checkbox {
  display: flex;
  flex-direction: row;
  gap: 5.92px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.portal-checkbox {
  display: flex;
  flex-direction: row;
  gap: 5.92px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.mogen-commerciele-partijen-u-benaderen {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.84px;
  line-height: 14.8px;
  font-weight: 600;
  position: relative;
  width: 211.64px;
}
.checkbox2 {
  display: flex;
  flex-direction: row;
  gap: 5.92px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.check {
  height: auto;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  width: 75%;
  bottom: 12.5%;
  top: 12.5%;
  height: 75%;
  overflow: visible;
}
.nee-checkbox {
  display: flex;
  flex-direction: row;
  gap: 5.92px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.leeftijd-verstandelijke-beperking-boxes {
  padding: 4.44px 14.8px 4.44px 14.8px;
  display: flex;
  flex-direction: row;
  gap: 27.38px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.leeftijd-checkbox {
  display: flex;
  flex-direction: column;
  gap: 7.4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.leeftijd {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12.579999923706055px;
  line-height: 14.8px;
  font-weight: 500;
  position: relative;
}

.leeftijd-checkbox input {
  width: 65%;
}

.verstandelijke-beperking-checkbox {
  display: flex;
  flex-direction: column;
  gap: 7.4px;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.heeft-uw-kind-client-een-verstandelijke-beperking {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 11.100000381469727px;
  line-height: 14.8px;
  font-weight: 600;
  position: relative;
}

.VerstandelijkeBeperkingCheckbox{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

}
.beperkinglijstbox {
  padding: 0px 0px 0px 7.4px;
  display: flex;
  flex-direction: row;
  gap: 7.4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.beperking-dropdown {
  display: flex;
  flex-direction: column;
  gap: 7.4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 40%;
}
.type-beperking-en {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 11.84000015258789px;
  line-height: 14.8px;
  font-weight: 600;
  position: relative;
}
.beperkingDropdown {
  background: var(--white, #ffffff);
  border-radius: 5.92px;
  border-style: solid;
  border-color: var(--gray-300, #d0d5dd);
  border-width: 0.74px;
  padding: 7.4px 10.36px 7.4px 10.36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 0.74px 1.48px 0px rgba(16, 24, 40, 0.05);
}
.text5 {
  color: var(--gray-500, #667085);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11.84000015258789px;
  line-height: 17.76px;
  font-weight: 400;
  position: relative;
}
.chevron-down {
  flex-shrink: 0;
  width: 14.8px;
  height: 14.8px;
  position: relative;
  overflow: visible;
}
.geselecteerde-beperkingen {
  display: flex;
  flex-direction: row;
  gap: 7.4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 227.18px;
  height: 100%;
  position: relative;
}
.error-message {
  color: #ffffff; 
  font-size: 15px;
  font-weight: 500;
}


.error-message p {
  margin: 0;
}

.footer {
  padding: 0px 29.6px 0px 29.6px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 756.28px;
  height: 63.64px;
  position: relative;
}

.footer button{
  border-radius: 10px;
}
.TerugButton {
  background: #2b50ec;
  border: none;
  padding: 8.88px 29.6px 8.88px 29.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  transition: background 0.2s ease-in-out, transform 0.1s ease-in-out;
}
.VerderButton {
  background: #2b50ec; 
  border: none;
  padding: 8.88px 29.6px 8.88px 29.6px;
  display: flex;
  flex-direction: row;
  gap: 5.92px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  transition: background 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.TerugButton:hover, .VerderButton:hover {
background:#0d2eb3;
}

.TerugButton:active, .VerderButton:active {
  background:#0d2eb3;
  transform: scale(90%);
  }

.text6 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 11.84000015258789px;
  line-height: 17.76px;
  font-weight: 600;
  position: relative;
}



@media only screen and (max-width: 900px) {
  .leftbox {
    display: flex;
    flex-direction: column;
  }

  .content {
    padding: 10px;
  }

  .content2{
  border-radius: 20px;
  width: 100%;
  }
}

@media only screen and (max-width: 800px){
  .leftbox {
    display: flex;
    flex-direction: column;
  }

  .footer{
    width: fit-content;
  }

  .content {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

  }

  .content2{
  border-radius: 20px;
  flex-direction: column;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .header{
    align-self: auto;
    width: fit-content;
  }
  
  .checkboxes-onderzoek-benadering {
    display: flex;
    flex-direction: column;
  }

  .rightbox{
    width: fit-content;
  }

  .mainbox{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: auto;
  }

  .benadering-checkboxes{
    padding: 12.58px 11.1px 12.58px 11.1px;
  }
}

@media only screen and (max-width: 530px){
.gevensinvullen{
  height: auto;
  background: url(public/images/GegevensInvullen.png);
  background-size: cover; 
}

  .gegevens-boxes{
    display: flex;
    flex-direction: column;
  }
  .leftbox{
    width: 100%;
  }

  .leftboxLEFT{
    width: 100%;
  }

  .leftboxRIGHT{
    width: 100%;
  }

  .leeftijd-checkbox input {
    width: fit-content;
  }
  .gevensinvullen{
    align-items: flex-start;
  }
  .gegevens-invullen-user{
    overflow: scroll;
  }

  .content {
    margin: 20px;
  }
}



