.onderzoekpagina,
.onderzoekpagina * {
  box-sizing: border-box;
}
.onderzoekpagina {
  background: #ffffff;
  width: 1440px;
  height: 1666px;
  position: relative;
  overflow: hidden;
}
.main {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1440px;
  height: 1580px;
  position: absolute;
  left: 0px;
  top: 86px;
}
.recenteonderzoek-titel {
  background: #4453ae;
  padding: 20px 40px 5px 145px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 85px;
  position: relative;
}
.recente-onderzoeken {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 35px;
  line-height: 30px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.opkomende-onderzoekenbox {
  background: #4453ae;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 75px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1440px;
  height: 627px;
  position: relative;
}
.onderzoekbox-2 {
  background: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 540px;
  height: 525px;
  position: relative;
}
.rectangle {
  background: #0d0c0c;
  border-radius: 10px 10px 0px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 355px;
  position: relative;
  overflow: hidden;
}
.onderzoek-details {
  background: #eaf1f8;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.onderzoek-titel-base {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.onderzoek-titel {
  color: #000000;
  text-align: left;
  font-family: var(--body-h-4-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--body-h-4-font-size, 24px);
  line-height: var(--body-h-4-line-height, 36px);
  font-weight: var(--body-h-4-font-weight, 700);
  position: relative;
  flex: 1;
  height: 35px;
}
.onderzoek-categorie-enzo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.type-onderzoek {
  color: #2b50ec;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  line-height: 36px;
  font-weight: 500;
  position: relative;
}
.owner {
  color: #2b50ec;
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.onderzoek-upload-tijd {
  color: rgba(0, 0, 0, 0.74);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.onderzoek-beschrijving {
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
  font-family: var(--body-p-font-family, "Montserrat-Regular", sans-serif);
  font-size: var(--body-p-font-size, 18px);
  line-height: var(--body-p-line-height, 30px);
  font-weight: var(--body-p-font-weight, 400);
  position: relative;
  width: 520.58px;
  height: 56.52px;
}
.onderzoekbox-1 {
  background: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 540px;
  height: 525px;
  position: relative;
}
.type-onderzoeken {
  background: #4453ae;
  padding: 0px 36px 0px 46px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 868px;
  position: relative;
  overflow: hidden;
}
.title-more-button {
  display: flex;
  flex-direction: row;
  gap: 750px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.type-onderzoek2 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 41px;
  line-height: 72px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.more {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 26px;
  line-height: 45px;
  font-weight: 600;
  text-decoration: underline;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.type-onderzoeken2 {
  padding: 30px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 75px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 1358px;
  position: relative;
}
.engelstalig-onderzoek {
  background: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 552px;
  height: 317px;
  position: relative;
}
.type-onderzoek-foto {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.onderzoek-details2 {
  background: #eaf1f8;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 67px;
  position: relative;
}
.online-onderzoek {
  background: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 552px;
  height: 317px;
  position: relative;
}
.interview {
  background: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 552px;
  height: 317px;
  position: relative;
}
.titel {
  color: #000000;
  text-align: left;
  font-family: var(--body-h-4-font-family, "Montserrat-Bold", sans-serif);
  font-size: var(--body-h-4-font-size, 24px);
  line-height: var(--body-h-4-line-height, 36px);
  font-weight: var(--body-h-4-font-weight, 700);
  position: relative;
  flex: 1;
  height: 35px;
}
.groeps-gesprekken {
  background: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 552px;
  height: 317px;
  position: relative;
}
.header {
  background: #eaf1f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 86px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.logo {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 412px;
  height: 85px;
  position: relative;
}
.rectangle-1 {
  flex: 1;
  height: 100px;
  position: relative;
}
.primary-button {
  border-radius: 50px;
  flex-shrink: 0;
  width: 191px;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.onderzoeken {
  color: #2b50ec;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 114.97%;
  font-weight: 700;
  position: absolute;
  right: 0px;
  left: 47px;
  bottom: 13px;
  top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-groups {
  width: 34px;
  height: 41px;
  position: absolute;
  left: 13px;
  top: 6.5px;
}
.chat {
  color: #2b50ec;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-messages {
  width: 46px;
  height: 45px;
  position: absolute;
  left: 15.5px;
  top: 5px;
}
.profile-settings-notification {
  display: flex;
  flex-direction: row;
  gap: 23px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.notification {
  flex-shrink: 0;
  width: 60px;
  height: 70px;
  position: relative;
}
.settings {
  flex-shrink: 0;
  width: 60px;
  height: 70px;
  position: relative;
}
.male-user {
  flex-shrink: 0;
  width: 60px;
  height: 70px;
  position: relative;
}
