html,body{
  margin: 0;
  padding: 0;
}

.register,
.register * {
  box-sizing: border-box;
}
.register {
  background: url(public/images/log-in.png) center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.content {
  background: #eaf1f8;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 25.6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 640px;
  height: fit-content;
  position: relative;
  overflow: hidden;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 9.6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text-and-supporting-text {
  display: flex;
  flex-direction: column;
  gap: 9.6px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo {
  padding: 0px 8px 0px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 302.4px;
  position: relative;
}
.logo-image {
  flex-shrink: 0;
  width: 279.2px;
  height: 80px;
  position: relative;
}
.text {
  color: #4453ae;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 30.4px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.form {
  background: #eaf1f8;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.input-base-1 {
  padding: 0px 4px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 286.4px;
  position: relative;
}
.input-field-base {
  display: flex;
  flex-direction: column;
  gap: 4.8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-with-label {
  display: flex;
  flex-direction: column;
  gap: 4.8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.label {
  color: var(--gray-700, #344054);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.199999809265137px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
}
.input {
  background: var(--white, #ffffff);
  border-radius: 6.4px;
  border-style: solid;
  border-color: var(--gray-300, #d0d5dd);
  border-width: 0.8px;
  padding: 8px 11.2px 8px 11.2px;
  display: flex;
  flex-direction: row;
  gap: 6.4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 0.8px 1.6px 0px rgba(16, 24, 40, 0.05);
  overflow: hidden;
}
.content2 {
  display: flex;
  flex-direction: row;
  gap: 6.4px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.mail {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.InputBase {
  position: relative;
  flex: 1;
  outline: none;
  border: none;
  height: 20px;
}
.password-visibility {
  width: 17px;
  height: 20px;
  
}
.show-password{
  border: none;
  background-color: #ffffff;
  padding: 0;
  margin-left: 6px;
  height: 20px;
}


.error-message {
  color: #ffffff; 
  font-size: 15px;
  font-weight: 500;
}


.error-message p {
  margin: 0;
}
.help-icon {
  flex-shrink: 0;
  width: 12.8px;
  height: 12.8px;
  position: relative;
}
.input-base-2 {
  padding: 0px 0px 0px 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-field-base2 {
  display: flex;
  flex-direction: column;
  gap: 4.8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 286.4px;
  position: relative;
}
.input2 {
  background: var(--white, #ffffff);
  border-radius: 6.4px;
  border-style: solid;
  border-color: var(--gray-300, #d0d5dd);
  border-width: 0.8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 0.8px 1.6px 0px rgba(16, 24, 40, 0.05);
}
.add-on {
  border-radius: 6.4px 0px 0px 6.4px;
  padding: 8px 9.6px 8px 11.2px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text3 {
  color: white;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12.800000190734863px;
  line-height: 19.2px;
  font-weight: 400;
  position: relative;
}
.text-input {
  background: var(--white, #ffffff);
  border-radius: 0px 6.4px 6.4px 0px;
  border-style: solid;
  border-color: var(--gray-300, #d0d5dd);
  border-width: 0.8px;
  padding: 8px 11.2px 8px 11.2px;
  display: flex;
  flex-direction: row;
  gap: 6.4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.content3 {
  border-radius: 9.6px;
  padding: 0px 8px 0px 8px;
  display: flex;
  flex-direction: row;
  gap: 19.2px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.actions {
  display: flex;
  flex-direction: column;
  gap: 12.8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 267.2px;
  position: relative;
}
.button {
  border-radius: 6.4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 267.2px;
  position: relative;
}
.button-base {
  background: #4453ae;
  border-radius: 6.4px;
  border-style: solid;
  border-color: #4453ae;
  border-width: 0.8px;
  padding: 8px 14.4px 8px 14.4px;
  display: flex;
  flex-direction: row;
  gap: 6.4px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  box-shadow: 0px 0.8px 1.6px 0px rgba(16, 24, 40, 0.05);
  overflow: hidden;
  transition: background 0.3s ease;
  transition: transform 0.1s ease;;
}

.button-base:hover { 
  background: #2138ca;
}
.button-base:active{
  transform: scale(80%);
}
.text4 {
  color: #4453ae ;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 19.2px;
  font-weight: 600;
  position: relative;
  transition: color 0.5s ease-in-out, border-bottom 0.1 ease;
  transition: transform 0.1s ease-in-out;
}

.text4:hover { 
  color: #2138ca;

}
.text4:active{
  transform: scale(80%);
  border-bottom: #2138ca 2px solid;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 13.6px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.al-een-account {
  color: #4453ae;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  position: relative;
  width: 113.6px;
  height: 30.4px;
  margin: 0;
  padding: 0;
}
.button2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: fit-content;
  height: 30.4px;
  position: relative;
}
.button-base2 {
  display: flex;
  flex-direction: row;
  gap: 6.4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.text5 {
  color: #4453ae;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  position: relative;
}
