html,body{
  margin: 0;
  padding: 0;
}

.ChatPage, .ChatPage *{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}

.Content{
  margin-top: 85px;
  align-self: stretch;
  flex-direction: row;
  height: 800px;
  margin-left: 10px;
  margin-right: 10px;
}

.ChatWindow{
  background: #eaf1f8;
  width: 400px;
}



.Chatraam{
  width: 1200px;
  background: white; 
}