html,body {
  margin: 0;
  padding: 0;
}


.gegevens-invullen-verzorger-ouder,
.gegevens-invullen-verzorger-ouder * {
  box-sizing: border-box;
}
.gegevens-invullen-verzorger-ouder {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.gevensinvullen {
 background: url(public/Images/GegevensInvullen.png) center center no-repeat;
 background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  left: 0px;
  top: 0px;
}
.content {
  background: #eaf1f8;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: fit-content;
  position: relative;
  overflow: hidden;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: fit-content;
  position: relative;
}
.text-and-supporting-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
  flex-shrink: 0;
  position: relative;
}
.logo {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 378px;
  position: relative;
}
.logo-image {
  flex-shrink: 0;
  width: 100%;
  height: 100px;
  position: relative;
}
.content2 {
  background: #4453ae;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  flex: 1;
  position: relative;
}
.box {
  background: #4453ae;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  flex: 1;
  position: relative;
}
.verzorger-ouder {
  color: #ffffff;
  text-align: left;
  position: relative;
}
.HeaderText {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 25px;
  line-height: 20px;
  font-weight: 600;
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.input-field-base {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  position: relative;
}
.input-with-label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.label {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
}
.input {
  background: var(--white, #ffffff);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--gray-300, #d0d5dd);
  border-width: 1px;
  padding: 10px 14px 10px 14px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --shadow-xs-box-shadow,
    0px 1px 2px 0px rgba(16, 24, 40, 0.05)
  );
  overflow: hidden;
}
.content3 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.text {
  text-align: left;
  font-family: var(--textmd-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--textmd-regular-font-size, 16px);
  line-height: var(--textmd-regular-line-height, 24px);
  font-weight: var(--textmd-regular-font-weight, 400);
  position: relative;
  flex: 1;
  border: none;
  outline: none;
}

.text2 {
  color: rgba(16, 24, 40, 0.6);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  flex: 1;
}

.error-message {
  color: #ffffff; 
  font-size: 15px;
  font-weight: 500;
}


.error-message p {
  margin: 0;
}

.footer {
  padding: 0px 40px 0px 40px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: fit-content;
  height: 94px;
  position: relative;
}
.button {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-shrink: 0;
  width: fit-content;
  height: fit-content;
  position: relative;
}


.button-base {
  background: #2b50ec;
  border-radius: 8px;
  border-style: solid;
  
  border-width: 1px;
  padding: 12px 40px 12px 40px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;

  position: relative;
  transition: background 0.3 ease-in-out transform 0.1 ease-in-out;
}

.button-base:hover {
  background: #0d1d5e;
}

.button-base:active {
  transform: scale(90%);
}
.text3 {
  color: #ffffff;
  text-align: left;
  font-family: var(--textmd-semibold-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--textmd-semibold-font-size, 16px);
  line-height: var(--textmd-semibold-line-height, 24px);
  font-weight: var(--textmd-semibold-font-weight, 600);
  position: relative;
}


@media only screen and (max-width: 500px)   {
  .gevensinvullen,
.gevensinvullen * {
  box-sizing: border-box;
}
.gevensinvullen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.content {
  background: #eaf1f8;
  border-radius: 1.40625rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: fit-content;
  height: fit-content;
  position: relative;
  overflow: hidden;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  flex-shrink: 0;
  height: fit-content;
  position: relative;
}
.text-and-supporting-text {
  display: flex;
  flex-direction: column;
  gap: 0.675rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo {
  display: flex;
  flex-direction: column;
  gap: 0.5625rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.logo-image {
  flex-shrink: 0;
  width: 19.63125rem;
  height: 5.625rem;
  position: relative;
  object-fit: cover;
}
.content2 {
  background: #4453ae;
  display: flex;
  flex-direction: row;
  gap: 0.5625rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  height: fit-content;
  position: relative;
}
.box {
  background: #4453ae;
  padding: 0.5625rem 0rem 0.5625rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 0.45rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.verzorger-ouder {
  color: #ffffff;
  text-align: left;
  position: relative;
}
.HeaderText {
  color: #ffffff;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22.5px;
  line-height: 18px;
  font-weight: 600;
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.input-field-base {
  display: flex;
  flex-direction: column;
  gap: 0.3375rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.input-with-label {
  display: flex;
  flex-direction: column;
  gap: 0.3375rem;
  align-items: flex-start;
  justify-content: flex-start;
  
  flex-shrink: 0;
  position: relative;
}
.label {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 0.84375rem;
  line-height: 1.125rem;
  font-weight: 500;
  position: relative;
}
.input {
  background: var(--white, #ffffff);
  border-radius: 0.45rem;
  border-style: solid;
  border-color: var(--gray-300, #d0d5dd);
  border-width: 0.05625rem;
  padding: 0.5625rem 0.7875rem 0.5625rem 0.7875rem;
  display: flex;
  flex-direction: row;
  gap: 0.45rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0rem 0.05625rem 0.1125rem 0rem rgba(16, 24, 40, 0.05);
  overflow: hidden;
}
.content3 {
  display: flex;
  flex-direction: row;
  gap: 0.45rem;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.text {
  color: rgba(52, 64, 84, 0.7);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 0.8999999761581421rem;
  line-height: 1.35rem;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.text2 {
  color: rgba(16, 24, 40, 0.6);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 0.8999999761581421rem;
  line-height: 1.125rem;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.footer {
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 1.6875rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: fit-content;
  height: fit-content;
  position: relative;
}
.button {
  border-radius: 0.45rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-shrink: 0;
  position: relative;
}
.button-base {
  background: #2b50ec;
  border-radius: 0.45rem;
  border-style: solid;
  border-color: var(--gray-300, #d0d5dd);
  border-width: 0.05625rem;
  padding: 0.675rem 2.25rem 0.675rem 2.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.45rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0rem 0.05625rem 0.1125rem 0rem rgba(16, 24, 40, 0.05);
  overflow: hidden;
}
.text3 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 0.8999999761581421rem;
  line-height: 1.35rem;
  font-weight: 600;
  position: relative;
}

}
