._404-section,
._404-section * {
  box-sizing: border-box;
}
._404-section {
  background: var(--white, #ffffff);
  padding: 64px 0px 96px 0px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  justify-content: center;
  width: 1440px;
  position: relative;
}
.container {
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1280px;
  position: relative;
}
.content {
  padding: 0px 32px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.heading-and-supporting-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading-and-subheading {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 610px;
  position: relative;
}
.subheading {
  color: #2b50ec;
  text-align: left;
  font-family: var(--textmd-semibold-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--textmd-semibold-font-size, 16px);
  line-height: var(--textmd-semibold-line-height, 24px);
  font-weight: var(--textmd-semibold-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.heading {
  color: var(--gray-900, #101828);
  text-align: left;
  font-family: var(
    --displayxl-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--displayxl-semibold-font-size, 60px);
  line-height: var(--displayxl-semibold-line-height, 72px);
  font-weight: var(--displayxl-semibold-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.supporting-text {
  color: var(--gray-500, #667085);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  position: relative;
  width: 480px;
}
.actions {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button-base {
  background: var(--white, #ffffff);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--gray-300, #d0d5dd);
  border-width: 1px;
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --shadow-xs-box-shadow,
    0px 1px 2px 0px rgba(16, 24, 40, 0.05)
  );
  overflow: hidden;
}
.arrow-left {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.text {
  color: var(--gray-700, #344054);
  text-align: left;
  font-family: var(--textmd-semibold-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--textmd-semibold-font-size, 16px);
  line-height: var(--textmd-semibold-line-height, 24px);
  font-weight: var(--textmd-semibold-font-weight, 600);
  position: relative;
}
.image {
  flex-shrink: 0;
  width: 592px;
  height: 640px;
  position: relative;
}
.hand-drawn-line {
  width: 852px;
  height: 299px;
  position: absolute;
  left: calc(50% - 416px);
  bottom: -40px;
  overflow: visible;
}
