
body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars */
}
.register,
.register * {
  box-sizing: border-box;
}
.register {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.register2 {
  padding: 10px 32px 48px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: calc(50% - 720px);
  top: calc(50% - 512px);
}
.content {
  background: #eaf1f8;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 401px;
  height: 610px;
  position: relative;
  overflow: hidden;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text-and-supporting-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 378px;
  position: relative;
}
.logo-image {
  flex-shrink: 0;
  width: 349px;
  height: 100px;
  position: relative;
}
.text {
  color: #4453ae;
  text-align: center;
  font-family: var(
    --displaysm-semibold-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--displaysm-semibold-font-size, 30px);
  line-height: var(--displaysm-semibold-line-height, 38px);
  font-weight: var(--displaysm-semibold-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.content2 {
  border-radius: 12px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 378px;
  height: 334px;
  position: relative;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-field-base {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-with-label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.label {
  color: var(--gray-700, #344054);
  text-align: left;
  font-family: var(--textsm-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--textsm-medium-font-size, 14px);
  line-height: var(--textsm-medium-line-height, 20px);
  font-weight: var(--textsm-medium-font-weight, 500);
  position: relative;
}
.input {
  background: var(--white, #ffffff);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--gray-300, #d0d5dd);
  border-width: 1px;
  padding: 10px 14px 10px 14px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --shadow-xs-box-shadow,
    0px 1px 2px 0px rgba(16, 24, 40, 0.05)
  );
  overflow: hidden;
}
.content3 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.mail {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.text2 {
  color: var(--gray-500, #667085);
  text-align: left;
  font-family: var(--textmd-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--textmd-regular-font-size, 16px);
  line-height: var(--textmd-regular-line-height, 24px);
  font-weight: var(--textmd-regular-font-weight, 400);
  position: relative;
  flex: 1;
}
.help-icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.help-circle {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.help-circle2 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button-base {
  background: #4453ae;
  border-radius: 8px;
  border-style: solid;
  border-color: #4453ae;
  border-width: 1px;
  padding: 10px 18px 10px 18px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  box-shadow: var(
    --shadow-xs-box-shadow,
    0px 1px 2px 0px rgba(16, 24, 40, 0.05)
  );
  overflow: hidden;
}
.text3 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(--textmd-semibold-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--textmd-semibold-font-size, 16px);
  line-height: var(--textmd-semibold-line-height, 24px);
  font-weight: var(--textmd-semibold-font-weight, 600);
  position: relative;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.al-een-account {
  color: #4453ae;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  width: 142px;
  height: 38px;
}
.button2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 101px;
  height: 38px;
  position: relative;
}
.button-base2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.text4 {
  color: #4453ae;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
}
